:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lilslide.tsx - tilt rgb effects */
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  grid-template-rows: 210px 250px 20px;
  background: #1d1d1d;
  color: white;
  transition: transform 0.3s ease-in-out;
  transition: 0.5s ease;
  cursor: pointer;
  display: block;
}
.card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h1 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.rgb::after {
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  animation: rgb 6s linear infinite;
}

/* Pepsi banner */

.coke {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
}
.card2 {
  position: relative;
  /* width: 300px; */
  /* height: 350px; */
  /*   background: black; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}
.card2 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.card2 .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.card2:hover .circle:before {
  background: gray;
  clip-path: circle(400px at center);
}
.card2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  pointer-events: none;
  transition: 0.5s;
}
.card2:hover img {
  left: 72%;
  height: 200px;
}
.card2 .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.card2:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.card2 .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}
.card2 .content p {
  color: #fff;
}
.atag {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
@media (max-width: 991px) {
  .card2 {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card2:hover {
    height: 600px;
  }
  .card2 .content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card2:hover img {
    top: 70%;
    left: 50%;
    padding: 300px;
  }
}
@media (max-width: 420px) {
  .card2 .content {
    padding: 20px;
  }
}

/* Lynx hover light on top */

.lynx {
  font-size: 1em;
  font-weight: 500;
  color: gray;
  letter-spacing: 5px;
  cursor: pointer;
}
.lynx span {
  transition: 0.5s;
}
.lynx:hover span:nth-child(1) {
  margin-right: 10px;
}
.lynx:hover span:nth-child(2) {
  margin-left: 40px;
}
.lynx:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 100px #fff, 0 0 100px #fff;
}

/* Rain effect on top */

.rain {
  display: flex;
  z-index: 1;
  height: 40px;
}
.rain span {
  position: relative;
  bottom: 3.33px; /* 10px / 3 */
  width: 7px; /* 10px / 3 */
  height: 7px; /* 10px / 3 */
  background: white;
  margin: 0 0.67px; /* 2px / 3 */
  border-radius: 50%;
  animation: animate 5s linear infinite;
  animation-duration: calc(15s / var(--i));
  transform-origin: bottom;
}
@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(80px) scale(1);
  }
  100% {
    transform: translateY(80px) scale(0);
  }
}
.carousel-image {
  transition: transform 0.5s ease-in-out;
}

/* Popular Dish hover effect */

.vox {
  position: relative;
  perspective: 1000px;
  transition: all 0.5s ease-in-out 0.5s;
}

.vox:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px 5px solid #000;
}

.vox .vox-img {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.vox:hover .vox-img {
  transform: rotateY(-90deg);
}

.vox .vox-img img {
  height: 250px;
  border: 2px solid #000;
  border-radius: 10px;
}

.vox .montent {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}

.vox:hover .montent {
  transform: rotateY(0);
}
.vox .montent p {
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
  padding: 20px 0;
  margin: 0 25px;
}

/* Useredit button hover */

.yma {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: white;
  font-size: 25px;
}
/* Find restaurants page card */

.jontainer {
  display: flex;
}
.jard {
  height: 300px;
  width: 350px;
  margin: 30px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.jard img {
  height: 300px;
}
.doggo {
  border-radius: 3px;
  transition: 0.5s;
}
.intro {
  height: 70px;
  /* width: 400px; */
  padding: 1px;
  box-sizing: border-box;
  position: relative;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  bottom: 300px;
  transition: 0.5s;
  overflow: hidden;
}
.rest {
  margin: 10px;
  font-size: 40px;
}
.cheetah {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.chef {
  font-weight: bold;
}
.jard:hover {
  cursor: pointer;
}
.jard:hover .intro {
  height: 300px;
  bottom: 260px;
  background: black;
}
.jard:hover p {
  opacity: 1;
  visibility: visible;
}
.jard:hover .doggo {
  transform: scale(1.1) rotate(-3deg);
}

/* Filter button hover */
.mf {
  width: 100px;
  height: 40px;
  position: relative;
  border: 1px solid gray;
  font-weight: semibold;
  display: grid;
  place-items: center;
  letter-spacing: 2px;
  color: white;
}
.mf:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  transition: 1s;
}
.mf:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  transition: 1s;
}
.mf:hover:before,
.mf:hover:after {
  width: calc(100% + 30px);
  height: calc(100% + 30px);
}

@keyframes animate {
  0% {
    background-position: 0, 0;
  }
  50% {
    background-position: 400%, 0;
  }
  100% {
    background-position: 0, 0;
  }
}

/* Find foods card hover */
.jontainer {
  display: flex;
}
.pard {
  height: 300px;
  width: 300px;
  margin: 30px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.poggo {
  /* height: 400px; */
  width: 400px;
  border-radius: 3px;
  transition: 0.5s;
}
.pntro {
  height: 70px;
  /* width: 400px; */
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  bottom: 230px;
  transition: 0.5s;
  overflow: hidden;
}
.pest {
  margin: 10px;
  font-size: 40px;
}
.pheetah {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.phef {
  font-weight: bold;
}
.pard:hover {
  cursor: pointer;
}
.pard:hover .pntro {
  height: 300px;
  bottom: 300px;
  background: black;
}
.pard:hover p {
  opacity: 1;
  visibility: visible;
}
.pard:hover .poggo {
  transform: scale(1.1) rotate(-3deg);
}
.pard img {
  height: 300px;
}

/*  Neon take a leap */

.zox {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zox h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}
.lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
  animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(0) translateX(calc(300px - 10px));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(600px - 10px));
  }
}
.topLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: animatetopLayer 10s linear infinite;
}
@keyframes animatetopLayer {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%,
  100% {
    transform: translateX(0%);
  }
}

/*  top contributers rocket*/
.scene {
  position: relative;
  width: 100%;
  height: 8vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene .rocket {
  position: relative;
  animation: animate 0.2s ease infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}
.scene .rocket::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
}
.scene .rocket::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
}

/* Navbar find eat rate */

.nox {
  position: relative;
  width: 300px;
  height: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.nox p {
  color: #fff;
  /* font-size: 2em; */
  font-weight: 300;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px #00b3ff, 0 0 10px #00b3ff, 0 0 30px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}
.nightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
  animation: animatenightbar 5s linear infinite;
}
@keyframes animatenightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(0) translateX(calc(300px - 10px));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(600px - 10px));
  }
}
.nopLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: animatenopLayer 10s linear infinite;
}
@keyframes animatenopLayer {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%,
  100% {
    transform: translateX(0%);
  }
}

/* Navbar bar welcome word */

.animated {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(to right, #ccc 50%, #9395d3 50%, #7579d1);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

.animated:hover {
  background-position: -100%;
}

/*section*/

.sav {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  /* background-color: #000; */
}

.sav > section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
/* Findrestaurants gif */
.pic {
  width: 45rem;
  height: 32rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
